{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h1>About Robo Advisor</h1>
     <p>Robo-advisors or robo-advisers are a class of financial adviser that provide financial advice or Investment management online with moderate to minimal human intervention. <br><br> They provide digital financial advice based on mathematical rules or algorithms. These algorithms are executed by software and thus financial advice does not require a human advisor.<br><br>
      The software utilizes its algorithms to automatically allocate, manage and optimize clients' assets.</p>
   </div>
 {% endblock %}